<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slack</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 15px;">
            <div class="panel panel-primary">

                <div class="panel-heading">Channels</div>
                <div class="panel-body">
                    <a href="{% url 'social:begin' backend='slack' %}">
                        <img alt="Add to Slack"
                             height="40"
                             width="139"
                             src="https://platform.slack-edge.com/img/add_to_slack.png"
                             srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x,
                                     https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
                    </a>
                    <br>
                    <br>
                    <div class="col-main">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>channel</th>
                                <th>channel id</th>
                                <th>username</th>
                            </tr>
                            {% for object in object_list %}
                                <tr>
                                    <td>
                                        {{ object.service_entity_auth_name }}
                                    </td>
                                    <td>
                                        {{ object.service_entity_auth_id }}
                                    </td>
                                    <td>
                                        {{ object.username }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
