.DS_Store
*.pyc
.idea
*.sqlite3
.coverage
.vagrant/
.vagrant
secrets.py
local.py
production.py
staging.py
development.py
app/media/
app/assets/
keys/*
*.mo
*.tgz
*.sql
*.tar
tools/keys/
docs/_build
docs/_static
docs/_templates
deploys.log

