Django==5.1.7
celery==5.4.0
djangorestframework==3.15.2
psycopg==3.2.6
requests==2.32.3
django-extensions==3.2.3
uWSGI==2.0.28
django-environ==0.12.0
python-dotenv==1.1.0
setuptools==78.1.0
newrelic==10.7.0
sentry-sdk==2.24.1
slack_bolt==1.23.0
