Django==5.1
djangorestframework==3.15.2
psycopg==3.2.1
requests==2.32.3
django-extensions==3.2.3
uWSGI==2.0.26
django-environ==0.11.2
envkey==2.4.2
newrelic==9.13.0
sentry-sdk==2.13.0
slack_bolt==1.20.1
